@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page { size: A4; margin: 8mm; }
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 2px; }
